---
layout: default
title: Blog
navbar_title: Blog
permalink: /blog/
body_class: is-blog
container_class: container-md
---

<div class="blog-index-page">
    <h1 class="blog-index-title">Blog</h1>
    <p class="blog-index-intro">Notes on AI security, web bugs, and things that happen when models start writing HTML.</p>

    {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in posts_by_year %}
    <section class="blog-year">
        <h2>{{ year.name }}</h2>
        <ul class="blog-index-list">
            {% for post in year.items %}
            <li>
                <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b %d" }}</time>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</div>
